@charset "utf-8"

.green{
	background-color: rgba(124,197,118);
}
.main{
	background-color: #f2f3f5;
}
.page-logo{
	height: 110px;
	width: 110px;
}
.sidebar-img{
	height: 215px;
	width: 285px;
}
.s-c-images{
	height: 140px;
	width: 185px;
}
.social-media{
	height: 50px;
	width: 50px;
}