@charset "utf-8"

.bkg-green{
	background-color: #7cc576;
}
.page-logo{
	height: 215px;
	width: 285px;
}
.sidebar-img{
	height: 215px;
	width: 285px;
}
.s-c-images{
	height: 140px;
	width: 185px;
}
.social-media{
	height: 50px;
	width: 50px
}